/* Universal Styles
--------------------*/

html {
  font-size: 16px;
}

body {
  font-family: Georgia, "Times", sans-serif;
  line-height: 1.44;
  background-color: white;
  margin-top: 60px;
  max-width: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.container-two {
  display: flex;
  width: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: all 400ms ease 1ms;
}

i {
  padding-right: 1rem;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 1.89rem 10px;
}

h2 {
  font-size: 1.55rem;
  font-family: Garamond, monospace, serif;
  width: 100%;
  color: white;
  background-color: black;
  padding-left: 8px;
}

p {
  margin: 10px;
  padding: 1rem 0;
  font-weight: 500;
}

/* Header / Nav
--------------------*/
header,
footer {
align-items: center;
background-color: black;
color: white;
justify-content: space-between;
padding: 1rem;
height: 60px;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px ridge gray;
}

.logo {
  font-family: monospace;
  font-size: 1.11rem;
}



/* Main
*/
.main-banner {
  background-image: url("../images/main-banner.png");
  background-position: center;
  height: 15rem;
  justify-content: center;
  align-items: center;
  color: seashell;
  text-align: center;
  font-size: 1.44rem;
}

.main-banner h1 {
  font-family: monospace;
  font-size: 2.55rem;
  font-weight: 500;
  padding-left: 6px;
  margin: 0;
}


header nav,
.main-banner p {
  display: none;
}

.intro {
  text-align: center;
}

/**/
/**/
/**/
@media only screen and (min-width: 450px)
                    and (max-width: 750px) {
  header nav {
    /*display: inline-flex;
    width: 60%;
    justify-content: space-around;*/
  }

  .main-banner {
  }

  .main-banner p {
    display: block;
  }
}
/**/
/**/
/**/
