/* Universal Styles
--------------------*/

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif, Georgia, "Times", serif;
  line-height: 1.44;
  background-color: white;
  margin-top: 60px;
  max-width: 100%;
}

.container {
  display: flex;
  width: 100%;
}

.container-two {
  display: flex;
  width: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transition: all 400ms ease 1ms;
}

i {
  padding-right: 1rem;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 1.55rem 0;
}

h2 {
  font-size: 1.55rem;
  font-family: "Garamond", "monospace", serif;
  width: 100%;
  color: white;
  background-color: black;
  padding-left: 8px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  h2 {
    width: 400px;
    text-align: left;
    padding: 1rem;
  }
}

p {
  margin: 20px 10px;
  font-weight: 500;
}

/* Header / Nav
--------------------*/
header,
footer {
align-items: center;
background-color: black;
color: white;
justify-content: space-between;
padding: 1rem;

}

header {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 10;
  border-bottom: 1px ridge gray;
}

.logo {
  font-family: "monospace", "Times", serif;
  font-size: 1.11rem;
}

/* Main
*/
.main-banner {
  background-image: url("../images/main-banner.png");
  background-position: center;
  height: 15rem;
  justify-content: center;
  align-items: center;
  color: seashell;
  text-align: center;
  font-size: 1.44rem;
}

.main-banner h1 {
  font-family: "monospace", serif;
  font-size: 2.22rem;
  font-weight: 500;
  padding-left: 6px;
  margin: 0;
  max-width: 499px;
}

header nav,
.main-banner p {
  display: none;
}

.intro {
  text-align: center;
  font-family: "Helvetica", Garamond, monospace;
  padding: 1rem;
  max-width: 600px;
  margin: auto;
}

/* footer
--------------------*/
footer {
  justify-content: center;
  height: 70px;
}

@media only screen and (min-width: 750px) {
  footer {
    justify-content: flex-start;
    height: 80px;
  }
}

/**/
/**/
/**/
@media only screen and (min-width: 750px) {
  header nav {
    /*display: flex;
    width: 60%;
    justify-content: space-around;*/
  }

  html {
    font-size: 18px;
  }

  body {
    font-family: "Georgia", "Times", serif;
  }

  main p {
    padding: 1rem;
  }

  .main-banner p {
    display: block;
    font-family: "Comic Sans", Arial, "Times", serif;
    font-style: oblique;
  }

  .main-banner {
    height: 18rem;
  }
}
/**/
/**/
/**/

/**/
/**/
/**/
@media only screen and (min-width: 850px) {

}
/**/
/**/
/**/
